html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background-color: #a0d4ad;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}

h1 {
    font-size: 2em;
    padding: 1em;
}

main {
    flex: 1;
    display: flex;
    max-width: 80em;
    width: 100%;
    margin: 1em auto;
}

select {
    width: 10em;
    overflow-y: auto;
}

.content-wrapper {
    flex: 1;
    margin: 0 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 1em 0;
}

input {
    display: block;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
}

@media (min-width: 30em){
    select {
        width: 15em;
    }
}

@media (min-width: 40em){
    .buttons {
        flex-direction: row;
    }
}
